<div id="app">
    <div class="container" style="width: 1366px;">
      <div class="columns is-gapless">
    <div class="column is-3">
      <%- include ('./partials/navbar.ejs') %>
    </div>
    <div class="column is-white">
      <div class="wrapper">
        <div class="wrapper_main">
          <div class="wrapper_content">
            <h1 class="title custom-color">Add Note</h1>
          </div>
          <div class="media-left night-mode">
            <img id="change-mode" class="night-mode" src="night.svg" alt="this is for night mode">
          </div>
        </div>
        <hr>

        <div class="box">

          <figure class="avatar center">
            <img src="<%= user.avatar_url%>" class="center">
          </figure>


          <form action="/addIdea" method="POST">
            <div class="field">
                <div class="control">
                    <input class="input is-large" required type="text" name="title" placeholder="Your Title">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <textarea class="input is-large" required type="text" name="description" placeholder="Idea Description"></textarea>
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Submit✔</button>
          </form>
        </div>
      </div>
  </div>
</div>