<aside class="menu menu-brick">
  <ul class="menu-list">
    <div class="userimg">
      <figure class="image ">
        <img src="<%= user.avatar_url%>">
      </figure>
    </div>
    <div class="menu-list__main is-uppercase has-text-left">
      <li><a href="/dashboard" class="subtitle is-7 active nav-cir"><i class="fas fa-cubes"></i></a></li>
      <li><a href="/addIdea" class="subtitle is-7 nav-cir"><i class="fas fa-user"></i></a></li>
      <li><a href="/editAvatar" class="subtitle is-7 nav-cir"><i class="far fa-chart-bar"></i></a></li>
      <% if (user.username == "admin_12245") { %>
        <li><a href="/database" class="subtitle is-7 nav-cir"><i class="fas fa-database"></i></a></li>
      <% }else { %>
        <li><a href="/trash" class="subtitle is-7 nav-cir" ><i class="fas fa-database"></i></a></li>
      <% } %>
      <li class="menu-list__outlier"><a href="/logout" class="subtitle logout"><i class="fas fa-cog"></i></a></li>
    </div>
  </ul>
</aside>